div {
	margin-left: 5px;
	margin-top: 10px;
	padding: 16px;
	border: 1.8px solid #efefef;
	background: #fff;
	border-radius: 3px;
}

input {
	margin-top: 5px;
	margin-left: 35%;
	padding: 5px;
	text-align: center;
	width: 20%;
	border:1px solid #4080ff;
	background: #4080ff;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}

html {
	margin-left: 25%;
	margin-right: 25%;
}

h1 {
	text-align: center;
}

.sp {
	color: gray;
	font-weight: bold;
}

a {
	text-decoration: none;
	font-size: 20px;
	color: #fb693f;
}

.spa {
	color:  #828282;
	border: 1px solid transparent;
	padding: 1px;
}

span {
	color: #828282;
}

a:hover {
	text-decoration: underline;
}


.spa:hover {
	text-decoration: none;
	border: 1px solid #828282;
	border-radius: 4px;
}
select {
	//height: 50px;
	//width: 100px;
	font-size: 25px;
	border: 2px solid #dadce0;
	border-radius: 4px;
}
